@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --main-red: #ca133e;
    --accent-red: #9a1431;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, He  lvetica, sans-serif;
}


.task_button {
    background: var(--main-red);
    color: var(--color-white);
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    border: var(--accent-red) solid 2px;
}

.testCard {
    background: #e2a298;
    font-weight: bold;
    padding: 16px;
    border-radius: 16px;
    border: var(--accent-red) solid 2px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 300px;
    height: 140px;

    justify-content: space-between;
}

.testCardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    height: auto;

    justify-content: center;

    padding: 15px;

}

.header__logo {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-align: left;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0;
    font-weight: 400;
    box-sizing: border-box;
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;

    padding: 15px;
}

.header__logo img {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-align: left;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0;
    font-weight: 400;
    color: #007bff;
    cursor: pointer;
    box-sizing: border-box;
    vertical-align: middle;
    border-style: none;
    height: auto;
    width: 7.5rem;
}

.header__logo .delimiter {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-align: left;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0;
    font-weight: 400;
    color: #007bff;
    cursor: pointer;
    box-sizing: border-box;
    width: .0625rem;
    height: 2.1875rem;
    margin: 0 2.1875rem;
    background-color: #262626;
    display: block;
}


.header__logo .text {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-align: left;
    letter-spacing: 0;
    font-weight: 400;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1;
    color: #262626;
    display: block;
}
